<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/util
                    http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id = "entityA" class = "com.infopulse.beans.First">
        <property name="seconds" ref="listEntities"/>
    </bean>

    <bean id="entityB" class="com.infopulse.beans.Second">
        <property name="a" value = "100"/>
    </bean>

    <bean id="entityC" class="com.infopulse.beans.Second">
        <property name="a" value = "200"/>
    </bean>

    <util:list id="listEntities" value-type="com.infopulse.beans.Second">
        <ref bean="entityB"/>
        <ref bean="entityC"/>
    </util:list>

</beans>